<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Mascotas</title>

</head>

<body>

    <h1>Las mascotas</h1>

    <p>
        <a href="{{ url_for('index') }}">Todas</a>
        |
        <a href="{{ url_for('mostrar_perros') }}">Solo perros</a>
    </p>


    {% if mascotas %}

        <ul>

            {% for mascota in mascotas %}

                <li>

                    <p><b>ID:</b> {{ mascota.id }}</p>

                    <strong>
                        Nombre: {{ mascota.nombre }}
                    </strong>

                    <p><b>Tipo:</b> {{ mascota.tipo }}</p>
                    <p><b>Color:</b> {{ mascota.color }}</p>
                    <p><b>Creado:</b> {{ mascota.created_at }}</p>
                    <p><b>Actualizado:</b> {{ mascota.updated_at }}</p>

                    <a href="{{ url_for('mostrar_mascota', id_mascota=mascota.id) }}">
                        Ver detalles
                    </a>

                </li>

            {% endfor %}

        </ul>

    {% else %}

        <p>
            No existen mascotas registradas.
        </p>

    {% endif %}


</body>

</html>
