<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitas</title>
</head>

<body>
    <section>
        <h2>Contador de visitas</h2>

        <form>
            <button type="submit">Aumentar +2</button>
        </form>

        <form>
            <button type="submit">Reiniciar</button>
        </form>

        <form>
            <label for="cantidad">Cantidad adicional:</label>
            <input id="cantidad" name="cantidad" type="number" />
            <button type="submit">Agregar</button>
        </form>
    </section>
    </main>
</body>

</html>