<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Admin Mensajes</title>
    <link rel="stylesheet" href="static/css/mensaje.css">
</head>
<body>

    <div class="main-container">
        <h1>Andrea</h1>
        
        <h2>Mensajes a Andrea</h2>
        
        <form class="message-form">
            <input type="text" class="input-text">
            <button type="button" class="btn-wireframe">Enviar</button>
        </form>

        <div class="post-container">
            <a href="#" class="author-link">Mensaje de Katya, hace 5 horas</a>
            <p class="post-text">
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>

        <h3 class="comments-title">Comentarios</h3>

        <div class="comment-container">
            <a href="#" class="author-link">Comentario de Patricia, hace 1 hora</a>
            <p class="post-text">
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>

        <form class="comment-form">
            <input type="text" class="input-text" placeholder="Escribe un comentario...">
            <button type="button" class="btn-wireframe">Enviar</button>
        </form>
    </div>

</body>
</html>